.cart-page{
    width: 100%;

    .cart-container{
    width: 90vw;
    margin: 0 auto;

    h1{
        border-left: 2px solid #bba58f;
        padding-left: .5rem;
        letter-spacing: 1px;
        margin-bottom: 3rem;
    }

    .empty-cart{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 5rem;

        .cart-icon{
            font-size: 50px;
        }

        a{
            text-decoration: none;
            color: #333;
            background: #bba58f;
            padding: 15px 17.5px;
            border-radius: 5px;
            color: white;
            font-weight: 700;
            transition: .2s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            &:hover{
                transform: scale(.9);
            }
        }
    }

    .loading-message{
        margin-block: 3rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .loading-card{
            width: 11em;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            gap: 1rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


            .loading-img{
                height: 150px;
                width: 100%;
                border-radius: 10px;
            }

            .loading-text{
                height: 25px;
                width: 80%;
                border-radius: 10px;
            }

            .loading-text-II{
                height: 20px;
                width: 60%;
                border-radius: 10px;
            }

            .loading-img,
            .loading-text,
            .loading-text-II{
                background-color: #ededed;
                background: linear-gradient(
                    100deg,
                    rgba(255,255,255,0) 40%,
                    rgba(255,255,255, .5) 50%,
                    rgba(255,255,255,0) 60%
                ) #ededed;
                background-size: 200% 100%;
                background-position-x: 100%;
                animation: 1s loading ease-in-out infinite;
            }
            @keyframes loading {
                to{
                     background-position-x: -20%;
                }
            }

        }
    }

    .cart{
        position: relative;
        margin-block: 3rem;
        width: 98%;
        display: grid;
        grid-template-columns: 65% 30%;
        gap: 4rem;
        margin: 0 auto;
        align-items: start;
        margin-bottom: 10rem;
        height: 100%;
        
        .cart-container{
            position: relative;
            padding: 1.5rem;
            padding-bottom: 0;
            width: 100%;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }

        .cart-item{
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          padding-block: 1.5rem;
          border-bottom: 1px solid hsl(0, 0%, 90%);


            .product-info{
                display: flex;
                gap: 2rem;
                width: 100%;
                justify-content: space-between;

                .info{
                    display: flex;
                    gap: 2rem;

                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 8px;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    }

                    .name-desc{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        p{
                            line-height: 1.5;
                        }
                    }
                }


                .price{
                    display: flex;
                    justify-content: flex-end;
                    
                    p{
                        font-weight: 600;
                        font-size: 20px;
                    }
                }
            }

            .cart-control{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // justify-content: center;

                .delete-btn{
                    display: inherit;
                    align-items: center;
                    gap: 5px;
                    background: hsl(17, 21%, 96%);
                    border-radius: 5px;
                    padding: 5px 12px;
                    border: none;
                    cursor: pointer;
                    font-weight: 500;
                    transition: .3s ease-in-out;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    &:hover{
                        transform: scale(.95);
                    }

                    .delete-icon{
                        font-size: 20px;
                    }
                }

                .quantity-counter{
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    button{
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                            background: hsl(17, 21%, 96%);
                            border-radius: 5px;
                            border: none;
                            transition: .3s ease-in-out;


                            &:hover{
                                transform: scale(.95);
                            }
                        
                    }

                    .count-icon{
                        padding: 5px 8px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }

      

         .cart-summary{
        position: sticky;
         top: 5em;
        max-width:300px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: white;

        h3{
          border-bottom: 1px solid hsl(0, 0%, 90%);
        padding-block: 1rem;
        }

        p{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }

        .address{

            h6{
                display: flex;
                align-items: center;
                justify-content: space-between;
                  border-bottom: 1px solid hsl(0, 0%, 90%);
                padding-block: 1rem;


                a{
                    text-decoration: none;
                    color: #bba58f;
                }
            }

            p{
                margin-top: 1rem;
                background: #ededed;
                font-size: 13px;
                padding: .5rem;
                border-radius: 5px;
                font-weight: 500;
            }
        }

        .delivery{

            h6{
                display: flex;
                align-items: center;
                justify-content: space-between;
                  border-bottom: 1px solid hsl(0, 0%, 90%);
                padding-block: 1rem;
            }

        p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            margin-top: 1rem;

            a{
                color: #bba58f;
                text-decoration: none;
                font-weight: 600;
            }
        }

        .estimate{
            p{
                display: block;
                span{
                    font-weight: 600;
                }
            }
        }


        }

        button{
            margin-block: .5rem;
            padding-block: .5rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: .2s ease;
            // background: 

            &:hover{
            transform: scale(.95);
            }

        }
        }
    }
    }
    
.page{
    padding-top: 6.5rem;
  }
}

@media screen and (max-width: 1035px) {
   .cart-page{

       .cart-container{

           .loading-message{
               display: grid;
               grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
           gap: .75rem;
           justify-content: center;
           
           .loading-card{
               font-size: 0.8em;
               width: 11em;
               
            }
        }
        
    }
        
    }

    }

@media screen and (max-width: 999px) {
.cart-page{

    .cart-container{

        .cart{
            display: flex;
            flex-direction: column;

            .cart-container{
                width: 90%;
            }
        }
    }
}
}