.cart-page{
    width: 100%;

    .cart-container{
    width: 90vw;
    margin: 0 auto;

    h1{
        border-left: 2px solid #bba58f;
        padding-left: .5rem;
        letter-spacing: 1px;
        margin-bottom: .9rem;
    }
    }
}