.userNavbar{
    margin-bottom: 3rem;
    width: 99.5%;
    // overflow-x: hidden;
    z-index: 10;
    
    .userNav-container{
        width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        border: 0.5px solid #8888;
        border-radius: 25px;
        margin-top: .5rem;

        .active-link{

            &::after{
                position: absolute;
                bottom: -30%;
                left: 35%;
                margin: 0 auto;
                content: "";
                width: 20px;
                height: 2px;
                border-radius: 25px;
                transform: scaleX(1);
                background:#e8d9cd;
                transform-origin: center;
                opacity: 1;
                transition: 0.3s ease-in-out, visibility ease-in;
            }
    
    
        }

        .logo-container{
            display: flex;
            text-decoration: none;
            color: #523d35;
            margin-left: 1rem;
            align-items: center;
            
            img{
                width: 50px;
                height: 50px;
            }
    
            .logo{
                letter-spacing: 4px;
                
                span{
                    font-weight: 700;
                }
            }
        }

        .userNavLinks{
            display: flex;
            gap: 2rem;

            li{
                list-style: none;
                position: relative;
                
                &::after{
                    position: absolute;
                    bottom: -30%;
                    left: 35%;
                    margin: 0 auto;
                    content: "";
                    width: 20px;
                    height: 2px;
                    border-radius: 25px;
                    transform: scaleX(0);
                    background: #bba58f;
                    transform-origin: center;
                    opacity: 0;
                    transition: 0.3s ease-in-out, visibility ease-in;
                }
    
                &:hover::after{
                    transform: scaleX(1);
                    transform-origin: center;
                    opacity: 1;
                }
            }

            a{
                color: #333;
                text-decoration: none;
            }
        }

        .userControls{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-right: 2rem;
            position: relative;

            .app-icon{
                font-size: 25px;
                cursor: pointer;
            }

            .notifs, .cart{
                transition: 0.3s ease-in-out;
            
                &:hover{
                    animation: shake 0.4s ;
                }
            }


            @keyframes shake {
                0% { transform: translateX(0); } /* Start position */
                25% { transform: translateX(-2px); } /* Move left */
                50% { transform: translateX(2px); } /* Move right */
                75% { transform: translateX(-2px); } /* Move left again */
                100% { transform: translateX(0); } /* Return to original position */
              }

              .user{
                border: 1px solid transparent;
                border-radius: 50%;
                padding: 5px;
                transition: .3s ease-in-out;
                width: 35px;

                &:hover{
                    transform: scale(.8);
                    border: 1px solid #888;
                }
              }

              .currentUserInfo{
                  position: absolute;
                  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                  width: 10rem;
                  margin-top: 135%;
                  height: 10.5rem;
                  border-radius: 10px;
                  z-index: 9;
                  background: white; 
                  right: 0;

                  .currentUserInfo-content{
                    padding: 1rem;
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    a{
                        text-decoration: none;
                        color: #333;
                        padding: 8px 1px;
                        transition: .3s ease-in-out;
                        width: 100%;
                        text-align: center;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        gap: .7rem;
                        padding: .5rem;

                        &:hover{
                            background: hsl(17, 21%, 95%);

                        }

                        .icon{
                            font-size: 18px;
                        }
                    }

                    button{
                        width: 100%;
                        padding: 8px 1px;
                        border: none;
                        background: hsl(17, 21%, 95%);
                        border-radius: 5px;
                        cursor: pointer;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                        font-weight: 500;
                        transition: all .2s ease-in-out;

                        &:hover{
                            transform: scale(.9);
                        }
                    }
                    }
              }
        }

        .app-icon{
         font-size: 1.5rem;
          cursor: pointer;
          padding:  0.6rem;
          user-select: none;
        }

        .mobile-view{
            display: none;
        }


     
    }
}

@media screen and (max-width: 1080px) {
.userNavbar{

    .userNav-container{

        .logo-container{
            font-size: smaller;
        }

    }
}
}


@media screen and (max-width: 950px) {
.userNavbar{

    .userNav-container{

        .desktop-content{
            display: none;
        }

        .mobile-view{
            display: block;
        }

        .app-icon{
          margin-right: 1rem;
        }
    }
}
}
