.adminHome{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 1rem;
    margin-top: 1rem;
}


@media screen and (max-width: 1080px) {
.adminHome{
    display: flex;
    flex-direction: column;

    .adminContent{
        margin-top: 5rem;
    }
}
}