.adminHome{
    width: 95%;
    margin: 0 auto;
    display: grid;
    position: relative;
    // grid-template-columns: 200px 1fr;
    grid-template-columns: 25% auto;
    gap: 2rem;
    margin-top: 1rem;
    max-height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
        overflow-x: hidden; 
        display: none;
    }

    
    .adminContent{
        width: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}


@media screen and (max-width: 1080px) {
.adminHome{
    display: flex;
    flex-direction: column;

    .adminContent{
        margin-top: 5rem;
    }

    &::-webkit-scrollbar {
        overflow-x: hidden; 
        display: none;
    }
}
}